
/**/
#page-home{
    height: 100vh;

    background: url('../icones/home-background.svg') no-repeat;
    background-position: 37vw bottom;
}


/*  display: flex; flex-direction: column; um abaixo do outro*/
#page-home .content{
        width: 90%;
        height: 100%;
        max-width:1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
                
}

/* display: flex; eixo x | espaço entre o eixo|-> space-between */
#page-home header {
    margin-top: 48px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Alinhando icone um ao lado do outro <a> link 
** color:#322153; font-weight:700;
*/

#page-home header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
   

}


/*Determinar sempre altura height e largura width para exibir imagem
**  margin-right: 16px;
*/
#page-home header a span{
    display: flex;
    background: url('../icones/log-in.svg') no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 1vh;
}

#page-home main{
    max-width: 560px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}
/*chamando variavel*
* color: var(--title-color);
*/
#page-home main h2{
    font-size: 45px;

}
/*Altura da linha*/
#page-home main p{
    font-size: 24px;
    line-height: 38px;
    margin-top: 20px;
}
/*Botão de pesquisa*/
#page-home main a{
    width: 100%;
    height: 72px;
    max-width: 360px;
    margin-top: 20px;
    background: var(--primary-color);
    border-radius: 34px 5px;
    display: flex;
    align-items: center;
    transition: 500ms;
    color: white;
    font-weight: bold;

    }

    /*Efeitos mause e gradiente*/
#page-home main a:hover { 

    background-image: linear-gradient(to bottom right,violet, var(--primary-color));

    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.408);
   
}


/*********************** Teste 1 ok
#page-home main a span {
    margin-right: 25px;
    width: 72px;
    height: 72px;
    border-radius: 34px 5px;
    background: url(../icones/search.svg) no-repeat;
    background-position:center ;


}
/*Efeitos span mause*
#page-home main a span:hover { 
    background-color:rgb(183, 102, 221);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.408);

}
*************************/



#page-home main a span {
    width: 72px;
    height: 72px;
    border-radius: 34px 5px;
    background: url(../icones/search.svg) no-repeat;
    background-color:rgba(183, 102, 221, 0.272);
 
    background-position:center ;
}

/*Efeitos span mause*/
#page-home main a span:hover { 
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.408);

} 

/********* Adição de  img com Pesseudo Elemento*

#page-home main a span {

    width: 72px;
    height: 72px;

    border-top-left-radius: 34px;
    border-boton-left-radius: 5px;

    background-color:rgba(183, 102, 221, 0.272);

    display:flex;
    aling-itens:center;
    justify-content:center;
}


#page-home main a span::after {
    content: "";
    background-image: url('../icones/search.svg');

    width: 28px;
    height: 20px;
}

*****************************/
#page-home main a strong{
    flex:1;
    color: white;
    text-align: center;
}


