
/* criando variavel de cor*
** color:#322153;
*/
:root {
    --title-color:#ee82ee;
    --primary-color:rgb(64, 243, 136);
}

/* zerando seletores * 
forms -    box-sizing: border-box; 

*/

* {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: Roboto, sans-serif;
}

/* Box model
largura, altura espaçamentos, preencimento,
Posicionamento,alinhamento bordas, cor Fundo, 
maneira vista pelo html (display)
 */


body {
    background-color: #f0f0f5;
    -webkit-font-smoothing:antialiased;
}


/* Excluindo o sublinhado da tag <a>*/
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}