
/* Quahdo maior que 900 exiba a imagem no*/

@media (max-width:900px) {
    
    #page-home {
    
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;

        width: 80%;
        height: 65%; 
        }

    #page-home header a {
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        transition-duration: 500ms;
    }
    
    #page-home main{
        align-items:center;
    }

        #page-home main h2 {
            font-size: 25px;
            /* border-top: 20px; */
        }


    #page-search-results .cards{
        grid-template-columns:1fr;
     }
   
    #page-search-results .cards img {
        width: 100%;
        height: 300px;

    }
        #page-home header a main h2 {
        font-size: 25px;
    }

    #page-home header a span {
        width: 28px;
        height: 28px;
     
    }
        /* inserindo gradiente =) e uma propriedade do transition 
transform é mais suave que o transition
*/


        #page-home header a:hover{
        width: 340px;
        height: 60px;

        font-size: 17px;
        color: white;
        
        background-image: linear-gradient(to bottom right,violet, var(--primary-color));
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.408);

        padding: 15px;
        border-radius: 25px 25px;

        left: 50%;
        align-items: center;
       
               
    }
    #page-home main {
        align-items: center;
        }

    #modal form input {
        /*width: 70px; Pesquisa ponto coleta*/ width: auto;
    }
        
   
/*
        #page-home main a:hover{

            transition-duration: 500ms;
            width: 900px;   
    } */
/* Fazer quando a tela tiver alta ou larga */

@media (max-width:1700px) {
    
    #page-home {
    
        background-position-x: 40vw;
     }
    }
 @media(max-height:760px) {

    #page-home {
        background-position-y: 200px;
    }

    }
 
 /**/
@media (max-width:550px){
    #page-home header a {
        position: absolute;
        bottom: 40px;
        
     }

     #page-create-point form {
         margin: 15px;
        padding: 14px;
        min-width: 288px;
      }
      #page-create-point form h1 {
        font-size: 28px;
        }

        #page-create-point form h2 {
            font-size: 20px;
            margin-top: 14px;
            }

        #page-create-point form fieldset {
                margin-top: 30px;
            }
      #page-create-point form .field-group {
        margin-top: 30px;
         display: grid; 
      }

      #page-create-point form .field-group .field + .field {
        margin-left: 0px;
    }
    #page-create-point form button {
        width: 260px;
        height: 56px;
        padding: auto;
    }

     #modal .header a {
        cursor: pointer;
        background-image: url(../icones/x.svg);
      
    }

    #page-create-point header a span {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        margin-left: 20px;
        align-items: center;
    }
    .itens-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        margin-bottom: 40px;
    }

   

        @media (max-height:568) {
            #page-home header main h2 p a {
                margin-top: 500px;
            }
        }

      
        /**/